.switch_options{
    display: block;
}
.switch_options:before,
.switch_options:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_options:after{
	clear:both;
}
.switch_options span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #c3c4c7;
}
.switch_options span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_options span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_options span:hover{
    background: #fafafa;
}
.switch_options span.selected{
    background: #2544d3;
    border-color: #2544d3;
    color: #fff;
}

/* Multicheck Option */
.multicheck_options label{
	display: block;
}

.customize-control{
    margin-bottom: 0;
}

#customize-control-industrie_header_font select option[value='0']{
    background-color: #a2a2a2;
    color: #fff;
    font-style: italic;
}

#customize-control-industrie_header_font select option[value='google']{
    background-color: #a2a2a2;
    color: #fff;
    font-style: italic;
}

#sub-accordion-section-industrie_typography_setting option[value='0']{
    background-color: #a2a2a2;
    color: #fff;
    font-style: italic;
}

#sub-accordion-section-industrie_typography_setting option[value='google']{
    background-color: #a2a2a2;
    color: #fff;
    font-style: italic;
}
#customize-theme-controls #sub-accordion-section-industrie_typography_setting .customize-control-select select {
    width: 100%;
    max-width: 100%;
}